:root {
    display: block;
    font-size: larger;
    width: 100%;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


a {
    color: black;
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

body {
    background: linear-gradient(20deg, rgb(160, 198, 255), rgba(255, 255, 255, 0.748));
    background-attachment: fixed;
    margin: 1em;
    padding: 1em;
    display: block;
}

.nav-pannel {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0;
    z-index: 9999;
    display: block;
    background: linear-gradient(20deg, rgb(160, 198, 255), rgba(255, 255, 255, 0.748));
    margin-top: 0;
    padding: 0.3em;
}


.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0.5em;
    gap: 2em;
    margin-top: auto;
    margin-bottom: auto;

}

.nav-list>li {
    display: block;
    padding: 5px;
    border-radius: 0.5em;
    transition-duration: 0, 5s;
    cursor: pointer;
    background-color: rgba(94, 149, 197, 0%);
    transition-duration: 0.3s;
    text-decoration: none;

}

.nav-list>li:hover {
    background-color: rgba(94, 149, 197, 50%);
}

.main-intro {
    margin: 1em;
    margin-bottom: 0;
    padding: 1em;

    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-name: slide1;
    animation-play-state: calc(50%);

    text-align: center;
}

@keyframes slide1 {
    from {
        translate: 0% -50%;
        color: rgba(0, 0, 0, 0);
    }

    to {
        color: rgb(0, 0, 0);
    }
}

.main-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    gap: 1.5em;
    padding: 1em;
    margin: 1em;

    text-align: justify;
}

.main-spaciality {
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    gap: 1.5em;
    block-size: auto;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    width: 100%;
    background-color: yellow;

}

.main-spaciality>div {
    padding: 1em;
    margin: 1em;
}

h3 {
    margin-top: 0;
}

.main-info {
    display: block;
    width: 100%;
    margin: 1em;
    margin-top: 0em;
    padding: 1em;
    padding-top: 0em;
}

.main-contact {
    margin: 1em;
    padding: 1em;
}

.main-info, .main-contact{
    margin-left: 0em;
    padding-left: 0em;
}

.img-div {
    width: 20em;

}

.img2 {
    max-width: 100%;
}



@media screen and (max-width:600px) {
    .nav-pannel {
        font-size: 10px;
        margin-right: 1em;
    }

    main,
    .main-layout>div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}